{% extends "index.html" %}

{% block content %}
<h2>Add New Investment</h2>

<form action="/add_investment" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <br>
    
    <label for="type">Type:</label>
    <input type="text" id="type" name="type">
    <br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br>

    <label for="risk_level">Risk Level:</label>
    <input type="text" id="risk_level" name="risk_level">
    <br>

    <input type="submit" value="Add Investment">
</form>

{% endblock %}

