{% include "header.html" %}

{% block content %}

<!-- Banner -->
<div class="banner-area banner-bg-one">
    <div class="banner-shape">
        <img src="{{ url_for('static',
            filename='assets/images/banner-shape1.jpg') }}" alt="Shape">
    </div>
    <div class="banner-slider owl-theme owl-carousel">

        <div class="banner-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>Your Financial Status Is In Good Hands</span>
                            <h1>Our Company Provide Best Financial Solutions</h1>
                            <p>Are you ready to take control of your financial future? Welcome to InvestmentPro, 
                                your trusted resource for all things related to investments, wealth management, and financial planning.
                                 We understand that financial success means different things to different people, 
                                 but it all starts with making informed decisions about your money. Whether you're a seasoned 
                                 investor or just getting started, we're here to guide you on your journey. </p>
                            <div class="banner-btn-area">
                                <a class="banner-btn common-btn" href="">
                                    Get Started
                                    <span></span>
                                </a>
                                <a class="common-btn" href="">
                                    Contact Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div class="banner-slider-img">
                            <img src="{{ url_for('static',
                                filename='assets/images/banner-main1.png') }}"
                                alt="Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>Your Financial Status Is Good Hands</span>
                            <h1>Your First Steps Into The Financial Markets
                                Investment</h1>
                            <p>Managing your investments is a crucial aspect of your financial journey, and at InvestmentPro, 
                                we're dedicated to simplifying this process for you. Our portfolio tracking tools and services 
                                are designed to provide you with the clarity and insights you need to make informed investment 
                                decisions. </p>
                            <div class="banner-btn-area">
                                <a class="banner-btn common-btn" href="">
                                    Get Started
                                    <span></span>
                                </a>
                                <a class="common-btn" href="">
                                    Contact Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div class="banner-slider-img two">
                            <img src="{{ url_for('static',
                                filename='assets/images/banner-main2.png') }}"
                                alt="Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>Your Investment Status Is Good in Hands</span>
                            <h1>InvestPro Will Give Business Opportunity To You</h1>
                            <p>Are you seeking exciting business prospects that can propel your financial success to new heights? 
                                InvestPro invites you to explore a world of opportunities that can help you achieve your entrepreneurial dreams. 
                                Whether you're an experienced business owner or an aspiring entrepreneur, InvestPro is your gateway to a 
                                wealth of possibilities. </p>
                            <div class="banner-btn-area">
                                <a class="banner-btn common-btn" href="">
                                    Get Started
                                    <span></span>
                                </a>
                                <a class="common-btn" href="">
                                    Contact Us
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div class="banner-slider-img three">
                            <img src="{{ url_for('static',
                                filename='assets/images/banner-main3.png') }}"
                                alt="Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Banner -->

<!-- About -->
<div class="about-area ptb-100">
    <div class="about-shape">
        <img src="{{ url_for('static',
            filename='assets/images/about-shape1.png') }}" alt="Shape">
        <img src="{{ url_for('static',
            filename='assets/images/about-shape2.png') }}" alt="Shape">
        <img src="{{ url_for('static',
            filename='assets/images/about-shape3.png') }}" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-5 left-padding">
                <div class="about-img">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="one">
                                <img src="{{ url_for('static',
                                    filename='assets/images/about1.jpg') }}"
                                    alt="About">
                                <img src="{{ url_for('static',
                                    filename='assets/images/about-shape4.png')
                                    }}" alt="Shape">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="three">
                                <img src="{{ url_for('static',
                                    filename='assets/images/about3.jpg') }}"
                                    alt="About">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="two">
                                <img src="{{ url_for('static',
                                    filename='assets/images/about2.jpg') }}"
                                    alt="About">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">About Company</span>
                        <h2>We Help Our Clients To Achieve Their Desire Goals</h2>
                    </div>
                    <div class="middle">
                        <span>At InvestPro, we are dedicated to one fundamental mission: helping our clients achieve their 
                            desired goals. We understand that your financial ambitions are as unique as you are, 
                            and we are here to provide the support and expertise necessary to turn those aspirations 
                            into tangible achievements.</span>
                        <p>At InvestPro, your goals are our goals. Your success is our commitment. Together, we will embark on a 
                            journey toward financial prosperity and the achievement of your desired goals.
                            Let's start this journey today. Join InvestPro and experience the difference of 
                            working with a partner dedicated to turning your financial dreams into reality.
                            </p>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li>
                                <i class="flaticon-workflow"></i>
                                <h3>
                                    <span class="odometer" data-count="462">00</span>
                                </h3>
                                <p>Successful Projects</p>
                            </li>
                            <li>
                                <i class="flaticon-project"></i>
                                <h3>
                                    <span class="odometer" data-count="362">00</span>
                                </h3>
                                <p>Running Projects</p>
                            </li>
                            <li>
                                <i class="flaticon-team"></i>
                                <h3>
                                    <span class="odometer" data-count="562">00</span>
                                </h3>
                                <p>Skilled Members</p>
                            </li>
                        </ul>
                    </div>
                    <div class="years">
                        <ul class="align-items-center">
                            <li>
                                <div class="years-inner">
                                    <span>5</span>
                                    <h4>Years Of Experience</h4>
                                    <i class="flaticon-handshake"></i>
                                    <img src="{{ url_for('static',
                                        filename='assets/images/about-shape5.png')
                                        }}" alt="Shape">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End About -->


<!-- Services -->
<section class="services-area pt-100 pb-70">
    <div class="services-shape">
        <img src="{{ url_for('static',
            filename='assets/images/services-shape1.png') }}" alt="Shape">
        <img src="{{ url_for('static',
            filename='assets/images/services-shape2.png') }}" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">What Services We Provide</span>
            <h2>Get Exceptional Finance Service For Growth</h2>
            <p>Personalized Solutions: We recognize that no two clients are the same. We take the time to understand your specific financial goals, risk tolerance, and circumstances to tailor solutions that meet your needs.

                Expert Guidance: Our team of financial experts is here to provide you with the knowledge and guidance you need to make informed decisions. We stay abreast of industry trends and market developments to ensure you're always ahead of the curve.
                
                Transparency: We believe in transparency in all our interactions. You'll have a clear understanding of your investments, risks, and potential returns every step of the way.
                
                Accessibility: Your financial journey should be accessible. We offer user-friendly tools, resources, and support to empower you to take control of your financial future.</p>
        </div>
        <div class="row">

            <div class="col-sm-6 col-lg-4">
                <div class="services-item">
                    <i class="flaticon-deposit icon"></i>
                    <h3>
                        <a href="">Invest Planning</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore dolore magna</p>
                    <div class="services-btn">
                        <i class='bx bx-right-arrow-alt'></i>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="services-item">
                    <i class="flaticon-loan icon"></i>
                    <h3>
                        <a href="">Financial Consultancy</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore dolore magna</p>
                    <div class="services-btn">
                        <i class='bx bx-right-arrow-alt'></i>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4">
                <div class="services-item">
                    <i class="flaticon-consulting icon"></i>
                    <h3>
                        <a href="">Consultancy</a>
                    </h3>
                    <p>At InvestPro, we offer a range of consultancy services designed to empower individuals and businesses 
                        in their financial and investment endeavors. Our team of experienced financial experts is dedicated 
                        to providing personalized guidance and support to help you make informed decisions and achieve your 
                        financial goals.</p>
                    <div class="services-btn">
                        <i class='bx bx-right-arrow-alt'></i>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->



<!-- Book -->
<div class="book-area ptb-100">
    <div class="container">
        <div class="book-content">
            <div class="book-shape">
                <img src="{{ url_for('static',
                    filename='assets/images/book-shape1.png') }}" alt="Shape">
                <img src="{{ url_for('static',
                    filename='assets/images/book-shape2.png') }}" alt="Shape">
            </div>
            <h2>Are You Ready? Book Appointment Now</h2>
            <p>Get your Quote or Call <a href="tel:548157455">+233548157455 /+233241693905/
                    ...</a></p>
            <a class="common-btn" href="#">
                Read More
                <span></span>
            </a>
        </div>
    </div>
</div>
<!-- End Book -->


<!-- Touch -->
<section class="touch-area pt-100 pb-70">
    <div class="touch-shape">
        <img src="{{ url_for('static',
            filename='assets/images/touch-shape1.png') }}" alt="Shape">
        <img src="{{ url_for('static',
            filename='assets/images/touch-shape2.png') }}" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="touch-content">
                    <div class="section-title">
                        <span class="sub-title">Get In Touch</span>
                        <h2>Request A Call-Back</h2>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea id="your-message"
                                        class="form-control" rows="6"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn common-btn">
                                    Send Message
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="touch-img">
                    <img src="{{ url_for('static',
                        filename='assets/images/touch-main.jpg') }}"
                        alt="Touch">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Touch -->


<!-- Team -->
<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Expert Team</span>
            <h2>We Have An Exclusive Team</h2>
        </div>
        <div class="team-slider owl-theme owl-carousel">

            <div class="team-item">
                <div class="top">
                    <img src="{{ url_for('static',
                        filename='assets/images/Emma.jpg') }}" alt="Team">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom">
                    <h3>Emmanuel Ofori</h3>
                    <span>CEO of Company</span>
                    <img src="{{ url_for('static',
                        filename='assets/images/team-shape1.png') }}"
                        alt="Shape">
                </div>
            </div>

            <div class="team-item">
                <div class="top">
                    <img src="{{ url_for('static',
                        filename='assets/images/team2.jpg') }}" alt="Team">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom">
                    <h3>Effah Bright</h3>
                    <span>Manager</span>
                    <img src="{{ url_for('static',
                        filename='assets/images/team-shape1.png') }}"
                        alt="Shape">
                </div>
            </div>

            <div class="team-item">
                <div class="top">
                    <img src="{{ url_for('static',
                        filename='assets/images/Daco.jpg') }}" alt="Team">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom">
                    <h3>Dacosta Agyei</h3>
                    <span>Consultant</span>
                    <img src="{{ url_for('static',
                        filename='assets/images/team-shape1.png') }}"
                        alt="Shape">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Team -->

<!-- FAQ -->
<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="section-title">
                    <span class="sub-title">InvestPro! FAQ</span>
                    <h2>Frequently Asked Questions</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua ultrices grad </p>
                </div>
                <div class="faq-item">
                    <ul class="accordion">
                        <li>
                            <a>
                                What types of business opportunities are available on InvestPro?
                                <i class='bx bx-plus'></i>
                                <i class="bx bx-minus two"></i>
                            </a>
                            <p>InvestPro offers a variety of business opportunities, including franchises, startups, 
                                business resales, joint ventures, and more. You can explore these opportunities in our 
                                "Business Opportunities" section. </p>
                        </li>
                        <li>
                            <a>
                                How can I track my investment portfolio on InvestPro?
                                <i class='bx bx-plus'></i>
                                <i class="bx bx-minus two"></i>
                            </a>
                            <p>To track your investment portfolio, log in to your InvestPro account and navigate to the "Portfolio Tracking" section. 
                                There, you can add your investments and view real-time updates on their performance. </p>
                        </li>
                        <li>
                            <a>
                                Is my personal and financial information secure on InvestPro?
                                <i class='bx bx-plus'></i>
                                <i class="bx bx-minus two"></i>
                            </a>
                            <p>Yes, InvestPro takes data security seriously. We use advanced encryption and security measures to 
                                protect your personal and financial information. You can learn more about our security measures 
                                in our Privacy Policy. </p>
                        </li>
                        <li>
                            <a>
                                What steps will you take to remove risk of
                                finance
                                <i class='bx bx-plus'></i>
                                <i class="bx bx-minus two"></i>
                            </a>
                            <p>To reduce financial risk, individuals and businesses can take steps such as diversifying investments, 
                                maintaining an emergency fund, managing debt, and seeking professional financial advice. 
                                Businesses should also focus on risk management, legal compliance, and scenario planning. 
                                Continuous learning about financial markets is essential, and regular reviews of financial 
                                strategies are key to adapting to changing circumstances. While complete risk elimination is 
                                unlikely, these measures help mitigate financial risks and align strategies with individual or 
                                business goals and risk tolerance.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="faq-img">
                    <img src="{{ url_for('static',
                        filename='assets/images/faq-main.png') }}" alt="FAQ">
                    <img src="{{ url_for('static',
                        filename='assets/images/faq-shape.png') }}" alt="Shape">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End FAQ -->

      <!-- Testimonials -->
        <section class="testimonials-area pt-100">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Testimonials</span>
                    <h2>What Our Clients Says</h2>
                </div>
                <div class="testimonials-slider owl-theme owl-carousel">

                    <div class="testimonials-item">
                        <img src="{{ url_for('static',
                        filename='assets/images/testimonials1.png') }}" alt="Testimonial">
                        <div class="inner">
                            <h2>"I've been using InvestPro for over a year now, and I'm extremely satisfied with the portfolio tracking and investment resources it offers. It has helped me make more informed investment decisions and achieve better diversification in my portfolio."</h2>
                            <h3>Bismark Baffour</h3>
                            <span>CEO of Finance & Banking</span>
                            <i class='bx bxs-quote-alt-left bx-flip-horizontal'></i>
                        </div>
                    </div>

                    <div class="testimonials-item">
                        <img src="{{ url_for('static',
                        filename='assets/images/testimonials2.png') }}" alt="Testimonial">
                        <div class="inner">
                            <h2>"As a small business owner, InvestPro's business opportunities section has been a game-changer for me. I found a fantastic partner for my startup through the platform. The consultancy services have also provided valuable insights for my business's growth." </h2>
                            <h3>Enoch Adinkra</h3>
                            <span>CEO - Adinkra Height</span>
                            <i class='bx bxs-quote-alt-left bx-flip-horizontal'></i>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Testimonials -->
{% endblock %}

{% include "footer.html" %}