{% include "header.html" %}

{% block content %}

        <!-- Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>Investment Details</h2>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span>Investment Details</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Services -->
        <section class="services-area-two ptb-100">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item-two">
                            <div class="bottom">
                                <h3>
                                    <a href="service-details.html">Comprehensive Investment Resources</a>
                                </h3>
                                <p>InvestPro provides a wealth of educational articles, reports, and guides curated by financial experts. These resources cover various aspects 
                                    of investing, from fundamental concepts to advanced strategies. They are designed to empower users with knowledge, helping them make informed 
                                    investment decisions.</p>
                                <p>2023-14-09</p>
                                <div class="services-btn">
                                    <i class='bx bx-right-arrow-alt'></i>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-sm-6 col-lg-4">
                        <div class="services-item-two">
                            <div class="bottom">
                                <h3>
                                    <a href="service-details.html">Diverse Business Opportunities</a>
                                </h3>
                                <p> InvestPro is a gateway to diverse business opportunities, including franchises, startups, business resales, and joint ventures. The platform offers 
                                    detailed business profiles, financial projections, and due diligence reports to assist users in evaluating these opportunities. It's a valuable resource for 
                                    both investors and entrepreneurs seeking profitable ventures.</p>

                                <p>2023-14-09</p>
                                <div class="services-btn">
                                    <i class='bx bx-right-arrow-alt'></i>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-sm-6 col-lg-4">
                        <div class="services-item-two">
                            <div class="bottom">
                                <h3>
                                    <a href="service-details.html">Real-time Portfolio Tracking</a>
                                </h3>
                                <p>InvestPro's platform offers a portfolio tracking feature that provides users with up-to-the-minute updates on their investments. Users can monitor their portfolio's performance, access historical data, and analyze asset allocation in real time. This feature helps users stay on top of their investments 
                                    and make timely adjustments.</div>/p>

                                <p>2023-14-09</p>
                                <div class="services-btn">
                                    <i class='bx bx-right-arrow-alt'></i>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-area">
                    <ul>
                        <li>
                            <a href="#">
                                <i class='bx bx-chevron-left'></i>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bx-chevron-right'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Services -->


{% endblock %}

{% include "footer.html" %}