{% include "header.html" %}

{% block content %}



        <!-- Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>Sign In</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Sign In</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- User Form -->
        <div class="user-form-area ptb-100">
            <div class="container">
                <div class="form-item">
                    <form>
                        <h2>Sign In</h2>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email / Username">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type="submit" class="btn common-btn">
                                    Sign In
                                    <span></span>
                                </button>
                            </div>

                        </div>
                    </form>
                    <div class="user-btn">
                        <h3>Didn't have an account?<a href="{{ url_for('signup') }}">Sign Up</a></h3>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End User Form -->

{% endblock %}

{% include "footer.html" %}
