{% include "header.html" %}

{% block content %}

        <!-- Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>Opportunities</h2>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span>Opportunities</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Services -->
        <section class="services-area four ptb-100">
            <div class="services-shape">
                <img src="{{ url_for('static', filename='assets/images/services-shape1.png') }}" alt="Shape">
                <img src="{{ url_for('static', filename='assets/images/services-shape2.png') }}" alt="Shape">
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Title</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  dolore magna</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Title</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  dolore magna</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Title</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  dolore magna</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Title</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  dolore magna</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Title</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  dolore magna</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Title</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  dolore magna</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="pagination-area">
                    <ul>
                        <li>
                            <a href="#">
                                <i class='bx bx-chevron-left'></i>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bx-chevron-right'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Services -->



{% endblock %}

{% include "footer.html" %}