{% include "header.html" %}

{% block content %}

        <!-- Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>Opportunities</h2>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span>Opportunities</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Services -->
        <section class="services-area four ptb-100">
            <div class="services-shape">
                <img src="{{ url_for('static', filename='assets/images/services-shape1.png') }}" alt="Shape">
                <img src="{{ url_for('static', filename='assets/images/services-shape2.png') }}" alt="Shape">
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Franchise Opportunities</a>
                            </h3>
                            <p>Unlock the potential of franchising with InvestPro. Explore a diverse range of franchise opportunities in various industries, backed by established brands. 
                                Our detailed profiles and expert insights help you make informed decisions, whether you're a seasoned investor or a first-time entrepreneur.</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Startup Ventures</a>
                            </h3>
                            <p>Invest in the future with our startup opportunities. Connect with innovative startups seeking investment and partnership. Dive into a world of entrepreneurial potential, 
                                where your support can help drive innovation and growth in exciting new ventures.</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Business Resales</a>
                            </h3>
                            <p>Seize the opportunity to acquire existing businesses. InvestPro offers insights into business resales, making it easier to find established enterprises with growth potential. 
                                Join the ranks of successful business owners and entrepreneurs by exploring these lucrative opportunities.</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Joint Ventures</a>
                            </h3>
                            <p>Collaborate for success with InvestPro's joint venture opportunities. Partner with like-minded individuals or businesses to pursue common goals and share resources. 
                                Our platform facilitates connections that can lead to profitable and mutually beneficial ventures.</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Real Estate Investments</a>
                            </h3>
                            <p>InvestPro extends your investment horizons to real estate. Discover opportunities in property investment, 
                                from residential to commercial properties. Access expert guidance and comprehensive information to make sound real estate investment decisions.</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="services-item">
                            <i class="flaticon-deposit icon"></i>
                            <h3>
                                <a href="#">Investment Funds</a>
                            </h3>
                            <p>Dive into the world of investment funds with InvestPro. Explore professionally managed funds that offer diversification and expert oversight. 
                                Whether you're interested in mutual funds, exchange-traded funds (ETFs), or other investment vehicles, our platform provides access to a variety of funds to suit your financial goals and risk tolerance.</p>
                            <div class="services-btn">
                                <i class='bx bx-right-arrow-alt'></i>
                                <a href="#">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="pagination-area">
                    <ul>
                        <li>
                            <a href="#">
                                <i class='bx bx-chevron-left'></i>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bx-chevron-right'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Services -->



{% endblock %}

{% include "footer.html" %}