{% include "header.html" %}

{% block content %}


        <!-- Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-content">
                            <h2>Sign Up</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Sign Up</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->
        <!-- Flash Messages -->
        <div class="container ">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              
                <ul class="text-center">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        

    

        <!-- User Form -->
        <div class="user-form-area ptb-100">
            <div class="container">
                <div class="form-item">
                    <form method="POST" action="{{ url_for('auth.signup') }}">
                        <h2>Sign Up</h2>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                                </div>
                            </div>

                             <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type="submit" class="btn common-btn">
                                    Sign Up
                                    <span></span>
                                </button>
                            </div>

                        </div>
                    </form>
                    <div class="user-btn">
                        <h3>Already have an account?<a href="{{ url_for('auth.login') }}">Sign In</a></h3>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End User Form -->


{% endblock %}

{% include "footer.html" %}